/* mixins and media queries */
@import "./media.scss";
@import "./mixin.scss";

/* Colors background*/
$colorB1: #055902;
$colorB2: #88bf11;
$colorB3: #f2ae2e;
$colorB4: #a67a6a;
$colorB5: #f23e16;

/* Colors texts*/
$colorT1: #f2f2f2;
$colorT2: #d9d9d9;
$colorT3: #a6a6a6;
$colorT4: #737373;
$colorT5: #595959;
$colorT6: #000;

/* General styles nad layout */
html {
  background: url("../assets/img/back_body.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: $colorT1;
  font-family: "Calibri", Helvetica, sans-serif;
  font-size: 14px;
  min-height: 100vh;
  max-width: 900px;
  flex-wrap: wrap;
}

a {
  all: unset;
  cursor: pointer;
  color: $colorB1;
  font-weight: bold;
}

header {
  text-align: center;
  background: $colorB1;
}

main {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  background: $colorB3;
  padding: 2em 0;
  font-size: 0.7rem;
  text-align: center;
  .footer-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    .column {
      padding: 0 2em;
    }
  }
  .footer-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/* Secciton main */
.main-container {
  display: flex;
}
.showcase-container {
  color: $colorT6;
  flex: 1.3 1.3 0;
  .showcase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 80vh;
    .showcase-grid {
      color: white;
      padding: 5px 3em;
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0px;
      .showcase-grid-header {
        text-align: center;
        background-color: $colorB4;
        border: 2px solid $colorT5;
        border-radius: 5px 5px 0 0;
        padding: 1em;
      }
      .showcase-grid-content {
        @include showcase-grid-content-margin;
        flex: 1;
        overflow: auto;
        .showcase-grid-content-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .showcase-row {
            display: flex;
            flex-direction: row;
            .showcase-col {
              background: url("../assets/img/back.jpg") no-repeat center center;
              background-size: cover;
              flex: 1 0 0%;
              padding: 1.5em;
              text-align: center;
              border: 2px solid black;
              img {
                cursor: move;
                border: 2px dashed transparent;
              }
            }
          }
        }
      }
      .showcase-grid-footer {
        text-align: center;
        background-color: $colorB4;
        border: 2px solid $colorT5;
        border-radius: 0 0 5px 5px;
        padding: 1em;
      }
    }
  }
}

/* Aside car list */
.carlist-container {
  color: $colorT6;
  flex: 1.7 1.7 0;
  .carlist-content {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    .carlist-header {
      text-align: center;
    }
    .carlist-car {
      text-align: center;
      background: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      #dropShoppingCar img {
        padding: 20px 0;
      }
      .shopping-car-drop {
        flex: 1;
      }
      .shopping-car-total {
        flex: 1;
        .total {
          font-weight: bold;
        }
      }
    }
    .carlist-products {
      padding: 5px;
      background-color: $colorT2;
      border: 2px solid white;
      min-height: 20vh;
      font-size: 1rem;
      .carlist-product-item {
        padding-top: 5px;
        color: $colorT6;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &:first-child {
          border-bottom: 1px solid $colorT5;
        }
        div {
          flex: 1;
        }
        .product-quantity,
        .product-price,
        .product-delete {
          text-align: center;
        }
        .product-delete button {
          background-color: $colorB3;
          border-radius: 5px;
        }
      }
    }
  }
}

/* Images styles*/
.img-fluid {
  max-width: 5vw;
}

/* Draggable styles*/
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.onDragStart {
  border: 2px dashed #000 !important;
  opacity: 0.6;
  //transition: border-width 0.6s, opacity 0.6s linear;
}

/* bar scroll*/
.showcase-grid-content {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $colorB1;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
