/* Colors background*/
$colorB1: #055902;
$colorB2: #88bf11;
$colorB3: #f2ae2e;
$colorB4: #a67a6a;
$colorB5: #f23e16;

/* Colors texts*/
$colorT1: #f2f2f2;
$colorT2: #d9d9d9;
$colorT3: #a6a6a6;
$colorT4: #737373;
$colorT5: #595959;
$colorT6: #000;